// ----------------------------------------------
// Variables Style
// ----------------------------------------------

// colors
$white: #fff !default;
$gray-100: #f6f9fc !default;
$gray-200: #eaeff4 !default;
$gray-300: #dfe5ef !default;
$gray-400: #7c8fac !default;
$gray-500: #5a6a85 !default;
$gray-600: #4C414F !default;
$black: #000 !default;

// Color
$blue: #5d87ff !default;
$indigo: #310E3A !default;
$purple: #763EBD !default;
$pink: #d63384 !default;
$red: #BC3043 !default;
$orange: #FD7E50 !default;
$yellow: #ffae1f !default;
$green: #55CE1B !default;
$teal: #20c997 !default;
$cyan: #2F6DC3 !default;

// Main Colors
$primary: $purple !default;
$secondary: #95CFD5 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $orange !default;
$danger: $red !default;
$light: #7B6681 !default;
$muted: $gray-500 !default;
$dark: $gray-600 !default;
$dark-light: $gray-600 !default;
$light-gray: $gray-100 !default;

$light-indigo: #836E89;
$light-purple: #ECAEF8;

// Theme Colorss
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "muted": $muted,
  "indigo": $indigo,
  "light-indigo": $light-indigo,
  "light-purple": $light-purple,
) !default;

// light colors
$primary-bg-subtle: tint-color($primary, 80%) !default;
$secondary-bg-subtle: tint-color($secondary, 80%) !default;
$success-bg-subtle: #E3F9DD !default;
$info-bg-subtle: #D9EDFF !default;
$warning-bg-subtle:  tint-color($warning, 80%) !default;
$danger-bg-subtle: #FFE1E0 !default;
$light-bg-subtle: $gray-100 !default;
$dark-bg-subtle: #F0F0F0 !default;

$primary-text-emphasis: #310E3A !default;
$secondary-text-emphasis: shade-color($secondary, 60%) !default;
$success-text-emphasis: #4FB043 !default;
$info-text-emphasis: shade-color($info, 60%) !default;
$warning-text-emphasis: #CE461B !default;
$danger-text-emphasis: #BC3043 !default;
$light-text-emphasis: $gray-100 !default;
$dark-text-emphasis: #463949 !default;

// Spacer
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: 2px,
  7: 5px,
  8: 6px,
  9: 7px,
  10: 10px,
  11: 12px,
  12: 22px,
  13: 24px,
  14: 30px,
  15: 38px,
  16: 40px,
  17: 50px,
  18: 60px,
  19: 95px,
  20: 150px,
  21: 34px,
  22: 20px,
  
) !default;

$utilities: () !default;
$utilities: (
  "width": (
    property: width,
    class: w,
    values: (
      20: 20%,
      25: 25%,
      30: 30%,
      40: 40%,
      50: 50%,
      60: 60%,
      70: 70%,
      75: 75%,
      85: 85%,
      100: 100%,
      auto: auto,
    ),
  ),
);

// Common
$min-contrast-ratio: 1.7 !default;

// Margins
$enable-negative-margins: true !default;
$enable-shadows: true !default;

// Global
$text-muted: $muted !default;
$grid-gutter-width: 30px !default;

// Font Weight
$font-weight-lighter: 300 !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium:  500;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-base: $font-weight-normal !default;

// Buttons
$btn-padding-y: 7px !default;
$btn-padding-x: 16px !default;
$btn-font-weight: 500 !default;
$btn-border-radius: 7px !default;
$btn-box-shadow: unset !default;
$btn-font-size: 14 !default;
$btn-border-radius-lg: 9px !default;

// Font Family
$font-family-sans-serif: 'Inter', sans-serif !default;


// Font Sizes
$font-sizes: (
  1: 12px,
  2: 13px,
  3: 14px,
  4: 15px,
  5: 16px,
  6: 18px,
  7: 20px,
  8: 22px,
  9: 28px,
) !default;
$font-size-base: 0.875rem !default;

// Line Heght
$line-height-base: 1.5 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;

// Body
$body-bg: $white !default;
$body-color: #836E89 !default;

// Heading
$headings-color: $primary-text-emphasis !default;
$headings-font-weight: 500 !default;

// Border Color
$border-color: #EBECEF !default;

// Box Shadow
$box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.12) !default;
$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075) !default;
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175) !default;
$box-shadow-inset: unset !default;

// Card
$card-title-color: $primary-text-emphasis !default;
$card-subtitle-color: var(--bs-body-color) !default;
$card-spacer-y: 20px !default;
$card-spacer-x: 20px !default;
$card-border-width: 1px !default;
$card-border-color: #F4F5F7 !default;
$card-border-radius: 12px;
$card-box-shadow:  0px 12px 30px -4px rgba(145, 158, 171, 0.10)!default;

// Border Radius
$border-radius: 8px !default;
$border-radius-sm: 2px !default;
$border-radius-lg: 15px !default;
$border-radius-xl: 12px !default;

// Badges
$badge-font-size: 14px !default;
$badge-font-weight: $font-weight-normal !default;
$badge-padding-y: 7px !default;
$badge-padding-x: 10px !default;
$badge-border-radius: 4px;

// Progressbar
$progress-height: 7px !default;
$progress-bg: $white !default;

// Table
$table-cell-padding-y: 18px !default;
$table-cell-padding-x: 18px !default;
$table-th-font-weight: 600 !default;
$table-striped-bg: $gray-200 !default;
$table-hover-bg: $gray-100 !default;
$table-border-color: #F4EFF5 !default;

// Tabs
$nav-link-color: $dark !default;
$nav-link-hover-color: $dark !default;
$nav-tabs-link-active-color: $white !default;
$nav-tabs-link-active-bg: $primary !default;
$nav-tabs-border-radius: 10px !default;
$nav-tabs-border-width: 0 !default;
$nav-link-font-size: 16px !default;
$nav-link-font-weight: $font-weight-normal !default;

// Tooltips
$tooltip-font-size: 12px !default;
$tooltip-bg: $dark;

// Input
$form-label-color: $gray-600;
$form-label-font-weight: 600;
$form-select-indicator-padding: 38px;
$form-select-border-radius: 7px !default;
$form-select-box-shadow: unset !default;
$input-border-radius: 7px !default;
$input-group-addon-bg: $gray-200 !default;
$input-group-addon-border-color: $light !default;
$input-border-color: #dfe5ef !default;
$input-bg: transparent !default;
$input-color: $gray-500 !default;
$input-padding-y: 8px;
$input-padding-x: 16px;
$form-check-input-width: 1.313em;
$form-check-min-height: 1.313em;
$form-check-input-border: 1.25px solid #dfe5ef;

// Paganation
$pagination-active-color: $white !default;
$pagination-active-bg: $primary !default;

// Dropdown
$dropdown-border-radius: 7px !default;
$dropdown-width: 360px !default;
$dropdown-border-width: 0 !default;
$dropdown-item-padding-y: 10px !default;
$dropdown-link-hover-bg: $gray-100 !default;
$dropdown-link-active-bg: $gray-100;
$dropdown-link-active-color: $dark;
$dropdown-box-shadow: rgb(145 158 171 / 20%) 0px 0px 2px 0px,
  rgb(145 158 171 / 12%) 0px 12px 24px -4px;
$link-color: #836E89 !default;

$link-hover-color: $primary-text-emphasis !default;

// Offcanvas
$offcanvas-border-width: 0 !default;
$offcanvas-horizontal-width: 330px !default;

// Modal
$modal-content-border-width: 0 !default;

$modal-md: 600px;
$modal-header-padding-y: 20px;
$modal-header-padding-x: 24px;

// Breadcrumb
$breadcrumb-font-size: 14px;
$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-item-padding-x: 0.5rem;
$breadcrumb-margin-bottom: 0;
$breadcrumb-divider-color: $gray-600;
$breadcrumb-active-color: $gray-500;
$breadcrumb-divider: quote("•");
$breadcrumb-divider-flipped: $breadcrumb-divider;

// Accordion
$accordion-padding-y: 1.25rem;
$accordion-padding-x: 2rem;
$accordion-button-color: $dark;
$accordion-body-padding-y: 1rem;
$accordion-border-color: $border-color;
$accordion-button-active-bg: transparent !default;
$accordion-button-active-color: $dark;
$accordion-icon-color: #0000008a;
$accordion-icon-active-color: #0000008a;

// toast
$toast-border-width: 0 !default;
$toast-box-shadow: $card-box-shadow;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1300px,
  xxl: 1400px,
) !default;


$hr-border-color: $border-color !default;
$hr-opacity: 1 !default;